<!-- ABOUT US -->
<section id="about" class="padding30">
	<div class="container">
		<h1 class="text-center"><strong>Welcome</strong> to Herding Pixels</h1>
		<div class="divider"><!-- divider -->
			<i class="fa fa-star"></i>
		</div>

		<p><img id="headshot" class="img-responsive" src="assets/images/headshot.png" style="float: left; margin-right: 10px;" alt="Gary Herd web design">Well, there isn't an "us" yet, it's just me - Gary, the founder and owner of Herding Pixels.
		I'm starting on a new path as a Front-End Web Developer, having recently completed a great program from <a href="http://www.udacity.com" target="_blank">Udacity</a> called the Front-End Developer Nanodegree.
		I work as a Business Analyst at a retail energy company here in Houston, but I'm already putting that program to work
		by helping with the layout of our website redesign. My goals are to become a front end developer at my current company, and to run Herding Pixels part-time.</p>

		<p>I started Herding Pixels to help local Houston business owners take advantage of the shift to
		potential customer searching the web primarily on their mobile phones. With Herding Pixels, you get the best of both worlds - an owner with solid technical training,
		and an owner with twenty years in sales and operations who understands that websites are for increasing sales, not for gathering design accolades.</p>

		<p>Herding Pixels is a part-time operation at the moment, so it will have just a single,
		simple service - upgrading Houston-area business websites to be mobile-friendly. Down the road,
		Herding Pixels may offer things like search optimization (SEO) marketing and consulting, new website design, and website hosting.</p>

		<p>It's an exciting time to be part of all that's going on with the web, and with mobile in particular. I look forward to serving Houston.</p>
	</div>
</section>
<!-- /ABOUT US -->