<!-- comment item -->
<div class="comment" *ngFor="let comment of comments">

  <!-- user-avatar -->
  <span class="user-avatar">
    <img class="media-object" src="assets/images/avatar.png" width="64" height="64" alt="">
  </span>

  <div class="media-body">
    <a href="#commentForm" class="scrollTo replyBtn">reply</a>
    <h4 class="media-heading bold">{{comment.author.displayName}}</h4>
    <small class="block">{{comment.published}}</small>
    <div [innerHtml]="comment.content"></div>
  </div>
</div>