  						<!-- blog item -->
						<div class="item">

							<!-- article title -->
							<div class="item-title">
								<!--<h2><a href="blog-single-sidebar-left.html">{{title}}</a></h2>-->
								<h2><a [routerLink]="['/post', id]">{{title}}</a></h2>
								<a href="blog.html" class="label label-default light"><i class="fa fa-dot-circle-o"></i> Business</a>
								<a href="blog-single-sidebar-left.html#comments" class="scrollTo label label-default light"><i class="fa fa-comment-o"></i> 3 Comments</a>
								<span class="label label-default light">{{publishDate}}</span>
							</div>

 							<!-- image -->
							<figure>
								<img src="assets/images/blog.jpg" class="img-responsive" alt="img" />
							</figure>

							<!-- blog short preview -->
							<p>
								{{contentPreview}}
							</p>

							<!-- read more button -->
							<a href="blog-single-sidebar-left.html" class="btn btn-xs"><i class="fa fa-sign-out"></i> READ MORE</a>

						</div>
						<!-- /blog item -->