						<!-- blog item -->
						<div class="item">

							<!-- article title -->
							<div class="item-title">
								<h2><a href="blog-single-sidebar-left.html">This is an Image Post</a></h2>
								<a href="blog.html" class="label label-default light"><i class="fa fa-dot-circle-o"></i> Business</a>
								<a href="blog-single-sidebar-left.html#comments" class="scrollTo label label-default light"><i class="fa fa-comment-o"></i> 3 Comments</a>
								<span class="label label-default light">June 29, 2014</span>
							</div>

							<!-- image -->
							<figure>
								<img src="assets/images/blog.jpg" class="img-responsive" alt="img" />
							</figure>

							<!-- blog short preview -->
							<p>
								Praesent augue arcu, ornare ut tincidunt eu, mattis a libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In elit purus, ullamcorper vel luctus vitae, venenatis eu odio. Vivamus tincidunt, urna quis consectetur venenatis, quam urna tincidunt mi, quis convallis enim dolor sed elit. Pellentesque ultricies congue lacus, eget elementum erat lobortis et. Sed non velit neque.
							</p>

							<!-- read more button -->
							<a href="blog-single-sidebar-left.html" class="btn btn-xs"><i class="fa fa-sign-out"></i> READ MORE</a>

						</div>
						<!-- /blog item -->