<!-- CONTACT -->
<section id="contact" class="padding30 margin-footer">
  <div class="container">

    <h1 class="text-center">Drop me a line</h1>
    <div class="divider"><!-- divider -->
      <i class="fa fa-star"></i>
    </div>

    <p class="lead">Feel free to reach out with any questions, recommendations, or special requests. You'll have a reply within 24 hours.</p>

    <div class="row margin-top60">

      <!-- FORM -->
      <div class="col-md-8 col-md-offset-2">

        <h2 class="text-center">Don't wait. Make today's web work for you!</h2>

        <form id="contactForm" class="white-row" method="post">
          <div class="row">
            <div class="form-group">
              <div class="col-md-6">
                <label>Full Name *</label>
                <input type="text" value="" data-msg-required="Please enter your name." maxlength="100"
                class="form-control" name="contact_name" id="contact_name" required [(ngModel)]="messageInfo.name">
              </div>
              <div class="col-md-6">
                <label>E-mail Address *</label>
                <input type="email" value="" data-msg-required="Please enter your email address."
                data-msg-email="Please enter a valid email address." maxlength="100" class="form-control"
                name="contact_email" id="contact_email" required [(ngModel)]="messageInfo.email">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <div class="col-md-12">
                <label>Subject</label>
                <input type="text" value="" data-msg-required="Please enter the subject." maxlength="100"
                class="form-control" name="contact_subject" id="contact_subject" [(ngModel)]="messageInfo.subject">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <div class="col-md-12">
                <label>Message *</label>
                <textarea maxlength="1000" data-msg-required="Please enter your message." rows="10" class="form-control"
                name="contact_message" id="contact_message" required [(ngModel)]="messageInfo.message"></textarea>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <div class="col-md-12">
                <re-captcha site_key="6LdpdwwUAAAAAMAKb1xXxGpBoh9V6YFgGDKpI4mg" class="center-block"></re-captcha>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <div class="col-md-12">
                <input id="contact_submit" type="button" (click)="submitMessageForm()" value="Send Message" class="btn btn-primary btn-lg">
              </div>
            </div>
          </div>

        </form>

        <!-- SENT OK -->
        <div id="contact_sent_ok_" class="alert alert-success fade in fsize16" [class.hide]="!emailSent">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>Thank You!</strong> Your message successfully sent!
        </div>
        <!-- /SENT OK -->

        <!-- SENT FAILED -->
        <div id="contact_sent_error_" class="alert alert-danger fade in fsize16" [class.hide]="!emailNotSent">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>Send email failed!</strong>
        </div>
        <!-- /SENT FAILED -->
      </div>
      <!-- /FORM -->

    </div>

  </div>
</section>
<!-- /CONTACT -->