<!-- PRICING -->
<section id="pricing" class="padding30 special-row">
  <div class="container">

    <h1 class="text-center">Herding Pixels <strong>Pricing</strong></h1>
    <div class="divider"><!-- divider -->
      <i class="fa fa-star"></i>
    </div>

    <p class="lead">A mobile-friendly upgrade can improve your site's search rankings so more people will find your business.
      The upgrade doesn't change any content, or alter the navigation, thus preserving any rankings the site already has.</p>

    <!--
      BOOTSTRAP GRID
      4 columns: col-md-3
      3 columns: col-md-4
      2 columns: col-md-2

      For more info about bootstrap grid
      http://getbootstrap.com/css/#grid
    -->

    <!-- FOUR COLUMNS -->
    <div class="row pricetable-container">

      <div class="col-md-6 col-md-offset-3">
        <div class="price-table popular">
          <h3>MOBILE UPGRADE</h3>
          <p>
            $350
            <span>for most sites</span>
          </p>

          <ul>
            <li>Get site to pass Google's mobile friendly test</li>
            <li>Update code to pass W3 validations</li>
            <li>Files deployed to your web server via FTP</li>
            <li>Recommendations provided for further improvements</li>
          </ul>
          <a href="#" class="btn btn-primary btn-sm">SIGN UP</a>
        </div>
      </div>

    </div>
    <!-- /FOUR COLUMNS -->

  </div>
</section>
<!-- /PRICING -->