<!-- TOP NAV -->
<header id="topNav">
  <div class="container">

    <!-- Mobile Menu Button -->
    <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
      <i class="fa fa-bars"></i>
    </button>

    <!-- Logo text or image -->
    <a class="logo scrollTo" href="#wrapper">
      <img src="assets/images/hp-logo-lg.png" alt="Herding Pixels Logo Houston web design" />
    </a>

    <!-- Top Nav -->
    <div class="navbar-collapse nav-main-collapse collapse pull-right">
      <nav class="nav-main mega-menu">
        <ul class="nav nav-pills nav-main scroll-menu" id="topMain">
          <li class="active"><a href="#wrapper">Home</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#pricing">Pricing</a></li>
          <li><a href="#contact">Send message</a></li>
          <li id="foo"><a href="http://www.blog.herdingpixels.net" target="_blank">Blog</a></li>
          <li><a href="tel:832.699.7890">832-699-7890</a></li>
        </ul>
      </nav>
    </div>
    <!-- /Top Nav -->

  </div>
</header>

<span id="header_shadow"></span>
<!-- /TOP NAV -->