		<!-- WRAPPER -->
		<div id="wrapper">

			<!--HERO-->
			<section id="hero" class="padding30 special-row">
				<div class="container">
					<div class="row">

						<div class="col-md-6">
							<h2 class="text-center">Is&nbsp;<strong>your</strong>&nbsp;website mobile-friendly?</h2>
							<div>
								<figure>
									<img class="radius6 img-responsive" src="assets/images/viewport.png" alt="is my website mobile friendly" />
								</figure>
							</div>
						</div>

						<!-- FORM -->
						<div class="col-md-5 col-md-offset-1">

							<h2 class="text-center">Request your&nbsp;<strong><em>free</em></strong>&nbsp;website audit today!</h2>

							<!--
								if you want to use your own contact script, remove .hide class
							-->

							<!-- SENT OK -->
							<div id="audit_sent_ok_" class="alert alert-success fade in fsize16 hide">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<strong>Thank You!</strong> Your message successfully sent!
							</div>
							<!-- /SENT OK -->

							<!-- SENT FAILED -->
							<div id="audit_sent_error_" class="alert alert-danger fade in fsize16 hide">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<strong>Message not sent!</strong>
							</div>
							<!-- /SENT FAILED -->

							<form id="auditForm" class="white-row" action="php/contact.php" method="post">
								<div class="row">
									<!--<div class="">-->
										<div class="form-group col-md-12">
											<label>Name *</label>
											<input type="text" value="" maxlength="100" class="form-control" name="audit_name" id="audit_name" required>
										</div>
										<div class="form-group col-md-12">
											<label>E-mail*</label>
											<input type="email" value="" maxlength="100" class="form-control" name="audit_email" id="audit_email" required>
										</div>
										<div class="form-group col-md-12">
											<label>URL*</label>
											<input type="url" value=""  placeholder = "include the http://" maxlength="100" class="form-control" name="audit_url" id="audit_url" required>
										</div>
									<!--</div>-->
								</div>

								<br />

								<div class="row">
									<div class="form-group">
										<div class="col-md-12">
											<div class="g-recaptcha" data-sitekey="6LdpdwwUAAAAAMAKb1xXxGpBoh9V6YFgGDKpI4mg"></div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="form-group">
										<div class="col-md-12">
											<input id="contact_submit" type="submit" value="Get Free Website Audit" class="btn btn-primary btn-lg" data-loading-text="Loading...">
										</div>
									</div>
								</div>
							</form>

						</div><br>
						<!-- /FORM -->
					</div>

				<!-- INFO -->

					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<div class="divider half-margins"></div>
							<h2 class="text-center">Most users are now coming to your site on a <strong>mobile device.</strong></h2>
								<p><i class="fa fa-mobile fa-lg" aria-hidden="true"></i>&nbsp;In April 2015, Google began boosting search rankings for websites that are mobile friendly.</p>
								<p><i class="fa fa-mobile fa-lg" aria-hidden="true"></i>&nbsp;In the US, <a href="https://think.withgoogle.com/mobileplanet/downloads/">94% of people with smartphones search for local information on their phones</a>.
									Interestingly,
									<a href="https://www.thinkwithgoogle.com/research-studies/creating-moments-that-matter.html">77% of mobile searches occur at home or at work</a>
									, places where desktop computers are likely to be present.</p>
								<p><i class="fa fa-mobile fa-lg" aria-hidden="true"></i>&nbsp;A mobile website puts you in a position to stand out among competitors - if your website doesn't look good on a smartphone users will move on to one that does. A mobile website ensures that you - not your competitors - capture visitor attention while you have it. </p>

						</div>
					</div>

					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<div class="divider half-margins"></div>
							<h2 class="text-center">So get your site a
								<strong>mobile-friendly upgrade</strong>
							</h2>
							<div>
								<figure>
									<img class="img-responsive center-block" src="assets/images/transition.png" alt="shows desktop to mobile transition">
								</figure>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<div class="divider half-margins"></div>
							<h2 class="text-center">And let Herding Pixels make today's web work for <strong><em>you!</em></strong></h2>
							<div class="row">
								<div class="col-xs-8 col-xs-offset-2">
									<a href="#wrapper" class="center-block btn btn-primary btn-lg">FREE Website Audit</a>
								</div>
							</div>
						</div>
					</div>
				<!-- /INFO -->
				</div>
			</section>
			<!--/HERO-->


			<!-- ABOUT US -->
			<section id="about" class="padding100">
				<div class="container">
					<h1 class="text-center"><strong>Welcome</strong> to Herding Pixels</h1>
					<div class="divider"><!-- divider -->
						<i class="fa fa-star"></i>
					</div>

					<p><img id="headshot" class="img-responsive" src="assets/images/headshot.png" style="style=float: left; margin-right: 10px;" alt="Gary Herd web design">Well, there isn't an "us" yet, it's just me - Gary, the founder and owner of Herding Pixels.
					I'm starting on a new path as a Front-End Web Developer, having recently completed a great program from <a href="http://www.udacity.com" target="_blank">Udacity</a> called the Front-End Developer Nanodegree.
					I work as a Business Analyst at a retail energy company here in Houston, but I'm already putting that program to work
					by helping with the layout of our website redesign. My goals are to become a front end developer at my current company, and to run Herding Pixels part-time.</p>

					<p>I started Herding Pixels to help local Houston business owners take advantage of the shift to
					potential customer searching the web primarily on their mobile phones. With Herding Pixels, you get the best of both worlds - an owner with solid technical training,
					and an owner with twenty years in sales and operations who understands that websites are for increasing sales, not for gathering design accolades.</p>

					<p>Herding Pixels is a part-time operation at the moment, so it will have just a single,
					simple service - upgrading Houston-area business websites to be mobile-friendly. Down the road,
					Herding Pixels may offer things like search optimization (SEO) marketing and consulting, new website design, and website hosting.</p>

					<p>It's an exciting time to be part of all that's going on with the web, and with mobile in particular. I look forward to serving Houston.</p>
				</div>
			</section>
			<!-- /ABOUT US -->

			<!-- PRICING -->
			<section id="pricing" class="padding100 special-row">
				<div class="container">

					<h1 class="text-center">Herding Pixels <strong>Pricing</strong></h1>
					<div class="divider"><!-- divider -->
						<i class="fa fa-star"></i>
					</div>

					<p class="lead">A mobile-friendly upgrade can improve your site's search rankings so more people will find your business.
						The upgrade doesn't change any content, or alter the navigation, thus preserving any rankings the site already has.</p>

					<!--
						BOOTSTRAP GRID
						4 columns: col-md-3
						3 columns: col-md-4
						2 columns: col-md-2

						For more info about bootstrap grid
						http://getbootstrap.com/css/#grid
					-->

					<!-- FOUR COLUMNS -->
					<div class="row pricetable-container">

						<div class="col-md-6 col-md-offset-3">
							<div class="price-table popular">
								<h3>MOBILE UPGRADE</h3>
								<p>
									$350
									<span>for most sites</span>
								</p>

								<ul>
									<li>Get site to pass Google's mobile friendly test</li>
									<li>Update code to pass W3 validations</li>
									<li>Files deployed to your web server via FTP</li>
									<li>Recommendations provided for further improvements</li>
								</ul>
								<a href="#" class="btn btn-primary btn-sm">SIGN UP</a>
							</div>
						</div>

					</div>
					<!-- /FOUR COLUMNS -->

				</div>
			</section>
			<!-- /PRICING -->


			<!-- CONTACT -->
			<section id="contact" class="padding100 margin-footer">
				<div class="container">

					<h1 class="text-center">Drop me a line</h1>
					<div class="divider"><!-- divider -->
						<i class="fa fa-star"></i>
					</div>

					<p class="lead">Feel free to reach out with any questions, recommendations, or special requests. You'll have a reply within 24 hours.</p>

					<div class="row margin-top60">

						<!-- FORM -->
						<div class="col-md-8 col-md-offset-2">

							<h2 class="text-center">Don't wait. Make today's web work for you!</h2>

							<form id="contactForm" class="white-row" method="post">
								<div class="row">
									<div class="form-group">
										<div class="col-md-6">
											<label>Full Name *</label>
											<input type="text" value="" data-msg-required="Please enter your name." maxlength="100"
											class="form-control" name="contact_name" id="contact_name" required>
										</div>
										<div class="col-md-6">
											<label>E-mail Address *</label>
											<input type="email" value="" data-msg-required="Please enter your email address."
											data-msg-email="Please enter a valid email address." maxlength="100" class="form-control"
											name="contact_email" id="contact_email" required>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="form-group">
										<div class="col-md-12">
											<label>Subject</label>
											<input type="text" value="" data-msg-required="Please enter the subject." maxlength="100" class="form-control" name="contact_subject" id="contact_subject">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="form-group">
										<div class="col-md-12">
											<label>Message *</label>
											<textarea maxlength="5000" data-msg-required="Please enter your message." rows="10" class="form-control" name="contact_message" id="contact_message" required></textarea>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="form-group">
										<div class="col-md-12">
											<div class="g-recaptcha " data-sitekey="6LdpdwwUAAAAAMAKb1xXxGpBoh9V6YFgGDKpI4mg"></div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="form-group">
										<div class="col-md-12">
											<input id="contact_submit" type="submit" value="Send Message" class="btn btn-primary btn-lg">
										</div>
									</div>
								</div>

							</form>

							<!-- SENT OK -->
							<div id="contact_sent_ok_" class="alert alert-success fade in fsize16 hide">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<strong>Thank You!</strong> Your message successfully sent!
							</div>
							<!-- /SENT OK -->

							<!-- SENT FAILED -->
							<div id="contact_sent_error_" class="alert alert-danger fade in fsize16 hide">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<strong>Send email failed!</strong>
							</div>
							<!-- /SENT FAILED -->
						</div>
						<!-- /FORM -->

					</div>

				</div>
			</section>
			<!-- /CONTACT -->

		</div>
		<!-- /WRAPPER -->